@import "../../../scss/reset";
@import "../../../scss/variable";

.courseAgenda {
    margin-top: 2rem;
    .agenda__header {
        color: $green-default;
        font-size: 1.5rem;
        font-weight: 500;
    }
  .section__container {
    // border: 1px solid gray;
    

    // AgendaSection
  }
}
