@import "../../../../../../scss/components";
@import "../../../../../../scss/variable";
@import "../../../../../../scss/reset";

.cartHeader__item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0;
  .cartItem__img__container {
    .cartItem__img {
      width: 140px;
      height: auto;
    }
  }
  .cartItem__info {
    text-align: left;
    margin-left: 1rem;
    .cartItem__info__header {
      font-weight: 500;
      margin-bottom: 0.3rem;
    }
    .cartItem__info__teachers {
      font-size: 0.9rem;
      margin-bottom: 0;
    }
    .cartItem__delete {
      margin-top: 0.5rem;
      color: $green-default;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: $green-hover;
      }
    }
  }
}
